fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic-settings
PyMySQL
cryptography
boto3

torch
torchvision
ultralytics
opencv-python
Pillow
numpy<2

paddlepaddle==3.2.2
paddleocr==3.7.0

sentence-transformers

ibm-watsonx-ai

paddlepaddle==3.2.2
paddleocr==3.7.0