fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic-settings
PyMySQL
cryptography
boto3

torch==2.2.2
torchvision==0.17.2
ultralytics
opencv-python
Pillow
numpy<2

paddlepaddle==3.2.2
paddleocr==3.7.0

sentence-transformers==2.7.0
transformers==4.51.2

ibm-watsonx-ai

paddlepaddle==3.2.2
paddleocr==3.7.0
pymupdf
playwright
